body {
  //background-image:url(https://source.unsplash.com/random/1600x900);
  background-image:url(/images/Asuna.jpg);
  height:100%;
  width:100%;
  background-repeat:repeat-x;
  background-attachment:fixed;
  background-size:100% 100%;
}
// page-opacity

.content-wrap {//文章内容透明度
  opacity: 0.7;

}

.sidebar {//侧边栏
  opacity: 0.7;
}

.header-inner {//菜单栏
  background: rgba(255,255,255,0.7);
}

.popup {//搜索框
  opacity: 0.8;
}